n8n/workflows/ottAitJTcMcMog06.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query": {
      "main": [
        [
          {
            "node": "Call 'easywatch.query'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'easywatch.query'": {
      "main": [
        [
          {
            "node": "radar.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "radar.json": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "bundle.data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "feed.data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bundle.data": {
      "main": [
        [
          {
            "node": "bundle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bundle": {
      "main": [
        [
          {
            "node": "parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url": {
      "main": [
        [
          {
            "node": "parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "feed.data": {
      "main": [
        [
          {
            "node": "feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "feed": {
      "main": [
        [
          {
            "node": "parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parameters": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-18T16:37:20.022Z",
  "id": "ottAitJTcMcMog06",
  "isArchived": false,
  "meta": null,
  "name": "oeils.radar",
  "nodes": [
    {
      "parameters": {
        "path": "easywatch-radar",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        192
      ],
      "id": "56ced0a7-c4be-4514-9c9a-d524b8016728",
      "name": "Webhook",
      "webhookId": "69e1190b-7c9a-488a-b111-43f2a86c6548"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2000,
        192
      ],
      "id": "d9c7d5f4-0af5-4dbf-831e-86c4ddbeb829",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d96ce62-5a4c-4347-a817-48fa4dbfe39b",
              "name": "links",
              "value": "={{ $json.links }}",
              "type": "string"
            },
            {
              "id": "f622c219-5cc0-4388-bf05-103be7d12a09",
              "name": "agent.name",
              "value": "radar.json",
              "type": "string"
            },
            {
              "id": "683c33c7-5090-4cb3-9b0b-25e3d40a2bdc",
              "name": "agent.mission",
              "value": "=Génère un tech radar au format suivant : \n\n```json\n{\n  \"date\": \"2025.05\",\n  \"quadrants\": [\n    {\"name\": \"Quadrant Name\"}\n  ],\n  \"rings:\" [\n    {\"name\": \"Ring Name\", \"color\": \"Ring color (hex)\"}\n  ]\n  \"entries\": [\n    {\n      \"quadrant\": 3,\n      \"ring\": 1,\n      \"label\": \"AWS Athena\",\n      \"active\": true,\n      \"moved\": 0,\n      \"link\": \"https://aws.amazon.com/fr/athena/\"\n    }\n  ]\n}\n```\nLes quadrants sont : \n- Languages & Frameworks\n- Tools\n- Platforms\n- Techniques\n\nLes rings sont :\n- Assess\n- Trial \n- Adopt\n- Hold\n\nRenvoie uniquement un document JSON, pas de Markdown.",
              "type": "string"
            },
            {
              "id": "92e95e7b-38ab-46c6-9b39-a56402ae7fa9",
              "name": "tags",
              "value": "={{ [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        192
      ],
      "id": "77992147-8a0b-4d3d-89c5-7cb025f7c121",
      "name": "query"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        704,
        192
      ],
      "id": "c483bc11-aade-43d8-a341-9aae709d2ea2",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "link",
              "renameField": true,
              "outputFieldName": "links"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        880,
        192
      ],
      "id": "2234b302-7126-48d3-b9b4-0ffe44c13415",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Y9wI8cmFtcWWaxSZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/Y9wI8cmFtcWWaxSZ",
          "cachedResultName": "easywatch.query"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "links": "={{ $json.links.parseJson() }}",
            "agent": "={{ $json.agent }}",
            "tags": "={{ $json.tags}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "links",
              "displayName": "links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "agent",
              "displayName": "agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1328,
        192
      ],
      "id": "b2e64c70-3358-4bfb-b642-32bbf3c7840d",
      "name": "Call 'easywatch.query'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d250c44c-ecae-427f-a3e0-b075df6045f2",
              "name": "body",
              "value": "=<html>\n  <head>\n    <script src=\"https://d3js.org/d3.v7.min.js\"></script>\n    <script src=\"https://zalando.github.io/tech-radar/release/radar-0.12.js\"></script>\n  </head>\n\n  <body>\n    <svg id=\"radar\"></svg>\n\n  <script>\nradar_visualization({{ $json.radar.toJsonString() }});\n  </script>\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        192
      ],
      "id": "a52773b2-1069-42f1-8d16-47e74fbc5813",
      "name": "response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25585d30-5bf1-4ab6-879c-ad1cc26f6bb8",
              "name": "radar",
              "value": "={{ $json.output.replaceAll('```json', \"\").replace('```', '').parseJson() }}",
              "type": "object"
            },
            {
              "id": "032bd068-213c-4c0c-8cf2-57b5c2e5ee79",
              "name": "radar.title",
              "value": "={{ $('parameters').item.json.title || \"\" }}",
              "type": "string"
            },
            {
              "id": "c61c9c22-4681-4f3f-873b-6c1bbb66eeb9",
              "name": "radar.description",
              "value": "={{ $('parameters').item.json.description || \"\" }}",
              "type": "string"
            },
            {
              "id": "6dfeb4dc-8358-4e72-8619-7f8cc0470a32",
              "name": "radar.date",
              "value": "={{ $now.format('yyyy.MM') }}",
              "type": "string"
            },
            {
              "id": "1614c8dc-e003-48be-93a2-10875bb78a76",
              "name": "radar.repo_url",
              "value": "={{ $('parameters').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        192
      ],
      "id": "726c8364-3cf5-47c9-9b2a-000174f57c53",
      "name": "radar.json"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "35efff06-0d54-4de6-8806-82aac19ce207"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "url"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6410e3fd-df30-447f-b95b-a3af85b7076f",
                    "leftValue": "={{ $json.bundleId.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bundleId"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b30474af-6a59-4c61-ba93-d66b497cc509",
                    "leftValue": "={{ $json.feedId.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "feedId"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "880b9f57-bf13-4cf4-b723-18b3e7048070",
                    "leftValue": "={{ $json.links.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "links"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -448,
        176
      ],
      "id": "ee29a8a9-25de-4ff9-8d76-8ab0f6eaf23a",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2766ff62-860b-4273-aab5-659492e3d745",
              "name": "url",
              "value": "={{ $json.query.url }}",
              "type": "string"
            },
            {
              "id": "a714cd4d-51f4-47fa-9cd4-cf02b00168dc",
              "name": "bundleId",
              "value": "={{ $json.query.bundleId }}",
              "type": "string"
            },
            {
              "id": "63bd2d57-29aa-4860-8f64-9b63e343cf02",
              "name": "feedId",
              "value": "={{ $json.query.feedId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        192
      ],
      "id": "0bf87a20-6051-43ef-ac64-022eea788a50",
      "name": "request"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "rvYPdd3BtvQjCdxn",
          "mode": "list",
          "cachedResultName": "Bundle",
          "cachedResultUrl": "/projects/vsi3OsWKSWSqfu3h/datatables/rvYPdd3BtvQjCdxn"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('request').item.json.bundleId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -224,
        192
      ],
      "id": "a9a6d928-4208-4f79-9d92-78d391305927",
      "name": "bundle.data"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nLrKaPAp6wRptsZ5",
          "mode": "list",
          "cachedResultName": "Feed",
          "cachedResultUrl": "/projects/vsi3OsWKSWSqfu3h/datatables/nLrKaPAp6wRptsZ5"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('request').item.json.feedId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -224,
        384
      ],
      "id": "5c977a4a-668d-4877-8a19-332180bd9145",
      "name": "feed.data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dab50c23-6c7a-4149-b521-2db3940651a8",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "8f0a4f3b-c0d5-46b4-b4d2-8b2851362e22",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "3891016b-f26d-4316-a39e-87939e55fd9f",
              "name": "url",
              "value": "=https://n8n-kreate.it.klanik.com/webhook/easywatch-bundle-feed?id={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "bcf39297-ba6a-4843-83b8-99a2dbf94281",
      "name": "bundle"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2920a95a-a5cf-41b0-8e15-acba054656a8",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "0daa1094-3c37-4f1f-ac7f-590c6896be12",
      "name": "url"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e578eee4-79d5-4de9-9ca0-b9db54aeeebd",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        384
      ],
      "id": "16cfc8fa-fc19-4a65-9985-08e6ff1d0521",
      "name": "feed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4bfa705-69fe-4337-ac44-961ff7c65318",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "4c21f8b7-850a-40aa-b35c-557c90cac98b",
              "name": "title",
              "value": "={{ $json.name || \"\" }}",
              "type": "string"
            },
            {
              "id": "5a424c82-6f49-4720-938e-0ea315d229e0",
              "name": "description",
              "value": "={{ $json.description || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        176
      ],
      "id": "b9304bd4-0810-41e2-b736-ac1f7f139e4a",
      "name": "parameters"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-18T16:37:20.025Z",
      "createdAt": "2025-12-18T16:37:20.025Z",
      "role": "workflow:owner",
      "workflowId": "ottAitJTcMcMog06",
      "projectId": "niLAo7NIqUtCNw5d"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-18T16:37:20.022Z",
  "versionId": "5d2674b1-6863-4eba-b74f-1aef9cef2b78"
}